<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Microred UNIMET - Batería</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/estilos.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="navbar d-flex" style="box-shadow: 2px; align-items: center;">
      <div class="col-12 col-sm-1 d-flex" style="justify-content: center;">
        <img id="logo" src="/static/Logo.png" alt="logo unimet">   
      </div>
      <div class="col-10 d-flex" style="justify-content: center; align-items: center;">
          <p style="margin: 0%; font-size: clamp(1.5rem, 2vw,2rem) !important;" class="d-none d-sm-block" id="titulo" >&nbspMicrored UNIMET</p>
      </div>
      <div class="col-1 d-flex" style="justify-content: center;">
        <p class="hora ps-3 d-none d-sm-block" style="color: beige; margin: 0%;"><span class="fecha"></span>&nbsp<span class="reloj"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
      </div>
      
    </nav>

  <div class="container-fluid min-vh-100 bg-main px-0">
    <div class="row g-0 flex-nowrap flex-md-wrap">

      <!-- Panel Izquierdo Fijo -->
      <nav class="col-md-3 col-lg-2 sidebar bg-sidebar d-flex flex-md-column flex-row align-items-center align-items-md-start py-4 d-none d-lg-block h-100">
        <div class="w-100 d-flex flex-row flex-md-column align-items-center">
          <iframe class="d-none d-md-block .d-lg-none" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.01315976197!2d-66.78690462605876!3d10.499628364240579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a576d54142307%3A0x346aa4e5e126367e!2sMetropolitan%20University!5e0!3m2!1sen!2sve!4v1746138141253!5m2!1sen!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="unimet-info card bg-panel text-white w-100 mb-3 p-3 ms-2 ms-md-0">
            <div class="title text-tertiary-data">UNIMET</div>
            <div class="text-info text-tertiary-data">La Urbina – Caracas</div>
            <div class="text-info text-tertiary-data">Lab. Energías Renovables</div>              
                
            <div class="temp-block text-center mb-2">
              <span class="display-6 fw-bold Temperature_CF text-principal-data">{{ registro.get('Temperature_CF') }}</span class="text-secondary"><span>&nbsp°C</span>
            </div>
            <div class="centro-notificaciones" style="justify-content: end;">
              <a class="nav-link active text-tertiary-data" aria-current="page" href="http://127.0.0.1:5000/notificaciones">Centro de Notificaciones</a>
              <div class="temp-block">
                <div class="data-cards-label">Notificaciones Activas:</div>
                <div class="text-principal-data" id="red-off" style="color: red;">Falla de Red</div>
                <div class="text-principal-data" id="car-off" style="color: red;">Carga Desconectada</div>
              </div>
            </div>
          </div>
        </div>
      </nav>

<!-- Parte Principal y Tabs -->
      <main class="col-12 col-md-12 col-lg-10 bg-main px-0 px-md-3">

<!-- Botones de los Tabs -->
        <ul class="nav nav-tabs custom-tabs px-2 pt-3" id="myTab" role="tablist">
          <!-- Condición Actual -->
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="actual-tab" data-bs-toggle="tab" data-bs-target="#actual" type="button" role="tab" aria-controls="actual" aria-selected="true">
              <i class="bi bi-speedometer2"></i> <span class="d-none d-sm-inline">Condición Actual</span>
            </button>
          </li>
          <!-- Red Electrica -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="red-tab" data-bs-toggle="tab" data-bs-target="#red" type="button" role="tab" aria-controls="red" aria-selected="false">
              <i class="bi bi-lightning-charge"></i> <span class="d-none d-sm-inline">Red Eléctrica</span>
            </button>
          </li>
          <!-- Solar -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="solar-tab" data-bs-toggle="tab" data-bs-target="#solar" type="button" role="tab" aria-controls="solar" aria-selected="false">
              <i class="bi bi-sun"></i> <span class="d-none d-sm-inline">Solar</span>
            </button>
          </li>
          <!-- Bateria -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="bateria-tab" data-bs-toggle="tab" data-bs-target="#bateria" type="button" role="tab" aria-controls="bateria" aria-selected="false">
              <i class="bi bi-battery-charging"></i> <span class="d-none d-sm-inline">Batería</span>
            </button>
          </li>
          <!-- Carga Electrica -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="carga-tab" data-bs-toggle="tab" data-bs-target="#carga" type="button" role="tab" aria-controls="carga" aria-selected="false">
              <i class="bi bi-plug"></i> <span class="d-none d-sm-inline">Carga Eléctrica</span>
            </button>
          </li>
          <!-- Energia -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="energia-tab" data-bs-toggle="tab" data-bs-target="#energia" type="button" role="tab" aria-controls="energia" aria-selected="false">
              <i class="bi bi-lightbulb"></i> <span class="d-none d-sm-inline">Energía</span>
            </button>
          </li>
        </ul>

<!-- Tabs -->
        <div class="tab-content" id="myTabContent">
<!-- Tab Actual -->
         
          <div class="tab-pane fade show active" id="actual" role="tabpanel" aria-labelledby="actual-tab">
           <div class="container-fluid py-3">
             <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-3 gap-3">
               <span class="badge bg-danger fs-4 px-4 py-2 rounded-pill">Condicion Actual</span>
             </div>
             <div class="row gx-2 gy-2 mb-2 mt-2">
               <!-- Panel Izquierdo de Datos -->
               <div class=" col-12 col-md-4 h-100">
                 <div class="data-cards actual h-100 w-100">
                   <div class="data-cards-label">Condición Sistema</div>
                   <div class="text-principal-data" id="red-on">Red Presente</div>
                   <div class="text-principal-data" id="solar-on">Solar Aportando</div>
                   <div class="text-principal-data" id="bat-char">Batería Cargando</div>
                   <div class="text-principal-data" id="bat-dis">Batería Descargandose</div>
                   <div class="text-principal-data" id="bat-off">Batería 100% Cargada</div>
                   <div class="text-principal-data" id="car-on">Carga Conectada</div>
                 </div>
                 <!-- <div class="data-cards h-100 w-100">
                   <div class="data-cards-label">Autonomía</div>
                   <span class="text-principal-data autonomia_bat">{{ registro.get('autonomia_bat', '') }}</span><span class="text-secondary">&nbsp h</span><br>
                   <div class="data-cards-label">Estado de Carga Batería</div>
                   <span class="text-principal-data soc_bat">{{registro.get('soc_bat', '') }}</span><span class="text-secondary">&nbsp%</span>
                 </div>                    -->
               </div>       
               <!-- Diagrama del Sistema Dinamico -->
               <div class="col-12 col-md-8 h-100">
                 <div class="diagrama h-100">
                   <div class="data-cards-label text-center mb-3">Diagrama de Estado del Sistema</div>
                   <div class="row">
                       <div class="col-3 d-flex"></div>


                       <div class="col-3 d-flex" style="justify-content: center; flex-direction: column; align-items: center;">
                         <div class="d-flex circle-logo" id="circle-red" style="justify-content: center; align-items: center;">
                               <i id="icon-red" class="bi bi-lightning"></i>
                           </div>
                           <i class="bi bi-chevron-double-down" id="flecha-red"></i>
                       </div>
                       <div class="col-3 d-flex"></div>
                       <div class="col-3 d-flex" style="justify-content: center; flex-direction: column; align-items: center;">
                           <div class="d-flex circle-logo " id="circle-solar" style="justify-content: center; align-items: center;">
                               <i id="icon-solar" class="bi bi-sun"></i>
                           </div>
                           <i class="bi bi-chevron-double-down" id="flecha-solar"></i>
                         </div>
                   </div>
                   <div class="row">
                       <div class="barra container-fluid"></div>
                   </div>
                   <div class="row">
                       <div class="col-3 d-flex" style="justify-content: center; flex-direction: column; align-items: center;">
                         <i class="bi bi-chevron-double-up d-flex justify-content-center" id="flecha-bat"></i> 
                           <div class="d-flex circle-logo " id="circle-bateria" style="justify-content: center; align-items: center;">
                               <i id="icon-bat" class="bi bi-battery-charging"></i>
                           </div>
                       </div>
                       <div class="col-3 d-flex"></div>
                       <div class="col-3 d-flex" style="justify-content: center; flex-direction: column; align-items: center;">
                         <i class="bi bi-chevron-double-down d-flex justify-content-center" id="flecha-carga"></i> 
                           <div class="d-flex circle-logo " id="circle-carga" style="justify-content: center; align-items: center;">
                               <i id="icon-carga" class="bi bi-plug"></i>
                           </div>
                       </div>
                       <div class="col-3 d-flex"></div>
                   </div>
                 </div>
               </div>      
             </div>
             <!-- Cards de Datos inferior -->
             <div class="row gx-2 gy-14">
               <div class="col-12 col-sm-6 col-lg-3">
                 <div class="data-cards resume h-100">
                   <div class="data-cards-label" style="text-align: center; align-items:center">CARGA ELÉCTRICA</div>
                   <div class="row">
                     <div class="d-flex justify-content-center align-items-center"><span class="text-principal-data power_carga" >{{ "%d"|format((registro.get('power_carga')|round|int)) }}</span>&nbsp <span class="text-secondary">W</span></div>
                     <div class="d-flex justify-content-center align-items-center"><span class="text-principal-data voltage_output_i1" >{{ "%.1f"|format(registro.get('voltage_output_i1')|float) }}</span>&nbsp<span class="text-secondary">V</span></div>
                     <div class="d-flex justify-content-center align-items-center"><span class="text-principal-data current_carga" > {{registro.get('current_carga',0)|float}}</span> &nbsp<span class="text-secondary">A</span></div>
                   </div>
                 </div>
               </div>
               <div class="col-12 col-sm-6 col-lg-3">
                 <div class="data-cards resume h-100">
                   <div class="data-cards-label" style="text-align: center; align-items:center">RED ELÉCTRICA</div>
                   <div class="row">
                     <div class="d-flex justify-content-center align-items-center"><span class="text-principal-data power_red">{{registro.get('power_red')|round}}</span> &nbsp<span class="text-secondary">W</span></div>
                     <div class="d-flex justify-content-center align-items-center"><span class="text-principal-data voltage_ac">{{registro.get('voltage_ac',0)|float}}</span> &nbsp<span class="text-secondary">V</span></div>
                     <div class="d-flex justify-content-center align-items-center"><span class="text-principal-data current_ac">{{registro.get('current_ac',0)|float}}</span>&nbsp <span class="text-secondary">A</span></div>
                   </div>
                 </div>
               </div>
               <div class="col-12 col-sm-6 col-lg-3">
                 <div class="data-cards resume h-100">
                   <div class="data-cards-label" style="text-align: center; align-items:center">BATERÍA</div>
                   <div class="row">
                     <div class="d-flex justify-content-center align-items-center"><span class="text-principal-data power_bat">{{registro.get('power_bat',0)|int}}</span> &nbsp<span class="text-secondary">W</span></div>
                     <div class="d-flex justify-content-center align-items-center"><span class="text-principal-data Voltage_bat">{{registro.get('Voltage_bat',0)|float}}</span> &nbsp<span class="text-secondary">V</span></div>
                     <div class="d-flex justify-content-center align-items-center"><span class="text-principal-data Current_bat">{{registro.get('Current_bat',0)|float}}</span> &nbsp<span class="text-secondary">A</span></div>
                   </div>
                 </div>
               </div>
               <div class="col-12 col-sm-6 col-lg-3">
                 <div class="data-cards resume h-100">
                   <div class="data-cards-label" style="text-align: center; align-items:center">SOLAR</div>
                   <div class="row">
                     <div class="d-flex justify-content-center align-items-center"><span class="text-principal-data Charging_Power_solar">{{registro.get('Charging_Power_solar',0)|int}}</span> &nbsp<span class="text-secondary">W</span></div>
                     <div class="d-flex justify-content-center align-items-center"><span class="text-principal-data Voltage_bat">{{registro.get('Voltage_bat',0)|float}}</span> &nbsp<span class="text-secondary">V</span></div>
                     <div class="d-flex justify-content-center align-items-center"><span class="text-principal-data Charging_Current_solar">{{registro.get('Charging_Current_solar',0)|float}}</span> &nbsp<span class="text-secondary">A</span></div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
<!-- Tab Bateria -->
          <div class="tab-pane fade" id="bateria" role="tabpanel" aria-labelledby="bateria-tab">
            <div class="container-fluid py-3">
              <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-3 gap-3">
                  <span class="badge bg-danger fs-4 px-4 py-2 rounded-pill">Batería</span>
              </div>

              <div class="row gx-2 gy-3 mt-2">
                <div class="col-12 col-md-4 gx-2 d-flex container-fluid">
                  <div class="data-cards h-100 w-100 d-flex" style="align-items: center;">
                    <div class="row">
                      <div class="data-cards-label">Estatus Actual</div>
                      <div class="col-6">
                        <div class="text-tertiary-data">Tensión</div>
                        <span class="text-principal-data Voltage_bat">{{registro.get('Voltage_bat')|float}}</span><span class="text-secondary">&nbsp V</span>
                        <div class="text-tertiary-data">Corriente</div>
                        <span class="text-principal-data Current_bat">{{registro.get('Current_bat')|float}}</span><span class="text-secondary">&nbsp A</span>
                        <div class="text-tertiary-data">Potencia</div>
                        <span class="text-principal-data power_bat">{{registro.get('power_bat')|float}}</span><span class="text-secondary">&nbsp W</span>
                      </div>
                      <div class="col-6">
                        <div class="text-tertiary-data">Celda</div>
                        <span class="text-principal-data vol_prom_celda">{{registro.get('vol_prom_celda')}}</span><span class="text-secondary">&nbsp V</span>
                        <div class="text-tertiary-data">Temperatura</div>
                        <span class="text-principal-data Temperatura">{{registro.get('Temperatura')}}</span><span class="text-secondary">&nbsp °C</span>
                        <div class="text-tertiary-data">Autonomía</div>
                        <span class="text-principal-data autonomia_bat">{{registro.get('autonomia_bat')|float}}</span><span class="text-secondary">&nbsp h</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-8 gx-2 d-flex container-fluid">
                  <div class="charts-card h-100 w-100">
                      <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center mb-2 gap-2">
                          <span class="data-cards-label">Tensión y Corriente de la Batería</span>
                      </div>
                      <canvas id="VoltageCurrentBat"></canvas>
                  </div>
                </div>

              </div>

              <div class="row gx-2 gy-3">

                <div class="col-12 col-md-4">
                  <div class="data-cards h-100 w-100">
                    <div class="data-cards-label">Batería</div>
                    <div class="d-flex align-items-center" style="justify-content: space-around;">
                        <div style="text-align: center;"> <span class="text-tertiary-data">SoC</span><div class="circle-indicator me-3 col-6"><span class="soc_bat text-principal-data">{{ registro.get('soc_bat') }}</span><span class="text-secondary">%</span></div></div>
                        <div>
                          <div class="text-tertiary-data text-center">Ciclos</div>
                          <div class="text-principal-data text-center ciclos_bat">{{registro.get('ciclos_bat')}}</div>
                          <div class="text-tertiary-data text-center">SoH</div>
                          <div><span class="text-principal-data soh_bat text-center">{{ registro.get('soh_bat') }}</span><span class="text-secondary">&nbsp %</span></div>
                        </div>
                    </div>
                  </div>
                </div>

                  
                <div class="col-12 col-md-8 d-flex">
                  <div class="charts-card h-100 w-100">
                      <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center mb-2 gap-2">
                          <span class="data-cards-label">Potencia</span>
                      </div>
                      <canvas id="PowerBat"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!-- Tab Red -->
          <div class="tab-pane fade" id="red" role="tabpanel" aria-labelledby="red-tab">

            <div class="container-fluid py-3">

              <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-3 gap-3">
                <span class="badge bg-danger fs-4 px-4 py-2 rounded-pill">Red Eléctrica</span>
              </div>
              <div class="row gx-2 gy-3 mt-2">
                <div class="col-12 col-md-4">
                  <div class="data-cards h-100 w-100">
                    <div class="data-cards-label mb-2">Estatus Actual</div>
                    <div class="text-tertiary-data">Tensión</div>
                      <span class="text-principal-data voltage_ac">{{ registro.get('voltage_ac') }}</span><span class="text-secondary">&nbspV</span>
                        
                      <div class="text-tertiary-data">Corriente</div>
                      <span class="text-principal-data current_ac">{{ registro.get('voltage_ac') }} </span><span class="text-secondary">&nbspA</span>

                      <div class="text-tertiary-data">Potencia</div>
                      <span class="text-principal-data power_red">{{ registro.get('power_red') }}</span><span class="text-secondary">&nbsp W&nbsp&nbsp&nbsp</span>
                  </div>
                </div>
                <div class="col-12 col-md-8">
                  <div class="charts-card w-100 h-100">
                    <div class="data-cards-label mb-0">Tensión y Corriente de la Red</span></div>
                    <canvas id="VoltageCurrentRed"></canvas>
                  </div>
                </div>
              </div>
              <div class="row gx-2 gy-3">
                <div class="col-12 col-md-4">
                 <div class="data-cards h-100 w-100">
                    <div class="data-cards-label">Potencia</div>
                    <div class="text-tertiary-data">Promedio Mensual</div>
                    <span class="text-principal-data pot_prom_mensual_red">{{ datos_mes_actual.get('pot_prom_mensual_red')}}</span><span class="text-secondary">&nbsp W</span>
                    <div class="text-tertiary-data">Máxima</div>
                    <span class="text-principal-data pot_max_mensual_red">{{ datos_mes_actual.get('pot_max_mensual_red', '') }}</span><span class="text-secondary">&nbsp W</span>
                  </div>
                </div>
                <div class="col-12 col-md-8">
                  <div class="charts-card w-100 h-100">
                    <div class="data-cards-label mb-0">Potencia</div>
                    <canvas id="PowerRed"></canvas>
                  </div>
                </div>
              </div> 
            </div>
          </div>
<!-- Tab Carga-->
          <div class="tab-pane fade" id="carga" role="tabpanel" aria-labelledby="carga-tab">
              <div class="carga-tab container-fluid py-3">

                <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-3 gap-3">
                    <span class="badge bg-danger fs-4 px-4 py-2 rounded-pill">Carga Eléctrica</span>
                </div>
                <div class="row gx-2 gy-2 mt-2">
                  <div class="col-12 col-md-4">
                    <div class="data-cards h-100 w-100">
                      <div class="data-cards-label">Condición Actual</div>
                      <div class="text-tertiary-data">Tensión</div>
                      <span class="text-principal-data voltage_output_i1">{{ registro.get('voltage_output_i1') }}</span><span class="text-secondary">&nbsp V</span>
                      <div class="text-tertiary-data">Corriente</div>
                      <span class="text-principal-data current_carga">{{ registro.get('current_carga') }}</span><span class="text-secondary">&nbsp A</span>
                      <div class="text-tertiary-data">Potencia</div>
                      <span class="text-principal-data power_carga">{{ registro.get('power_carga')*3 }}*3</span><span class="text-secondary">&nbsp W  &nbsp&nbsp&nbsp</span><span class="text-principal-data power_apparent_carga">{{ registro.get('power_apparent_carga')}}</span><span class="text-secondary">&nbsp VA</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="charts-card h-100 w-100">
                      <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center mb-2 gap-2">
                          <span class="data-cards-label">Tensión y Corriente de Salida</span>
                      </div>
                      <canvas id="VoltageCurrentCarga"></canvas>
                    </div>
                  </div>
                </div>

                <div class="row gx-2 gy-3">
                    <div class="col-12 col-md-4">
                      <div class="data-cards h-100 w-100">
                        <div class="data-cards-label">Potencia</div>
                        <div class="text-tertiary-data">Promedio mensual</div>
                        <span class="text-principal-data pot_prom_mensual_carga">{{datos_mes_actual.get('pot_prom_mensual_carga')}}</span><span class="text-secondary">&nbsp W</span>
                        <div class="text-tertiary-data">Máxima</div>
                        <span class="text-principal-data pot_max_mensual_carga">{{datos_mes_actual.get('pot_max_mensual_carga')}}</span><span class="text-secondary">&nbsp W</span>
                        <div class="text-tertiary-data">Factor de Potencia</div>
                        <span class="text-principal-data fp">{{registro.get('fp')}}</span>
                      
                      </div>
                    </div>

                    <div class="col-12 col-md-8">
                      <div class="charts-card h-100 w-100">
                          <div class="data-cards-label">Potencia</div>
                          <canvas id="PowerCarga"></canvas>
                      </div>
                    </div>
                </div>
              </div>
          </div>
<!-- Tab Solar -->
          <div class="tab-pane fade" id="solar" role="tabpanel" aria-labelledby="solar-tab">
            <div class="tab-container container-fluid py-3">
              <div class="col-12 mb-3 tab-title">
                <span class="badge bg-danger fs-4 px-4 py-2 rounded-pill">Solar</span>
              </div>
              <div class="row gx-2 gy-2 mt-2">
                <div class="col-12 col-md-4">
                  <div class="data-cards h-100 w-100">
                    <div class="data-cards-label">Estatus Actual</div>
                    <div class="text-tertiary-data">Tensión</div>
                    <span class="text-principal-data Voltage_PV_solar">{{ registro.get('Voltage_PV_solar') }}</span><span class="text-secondary">&nbsp V</span>
                    <div class="text-tertiary-data">Corriente</div>
                    <span class="text-principal-data Charging_Current_solar">{{ registro.get('Charging_Current_solar') }}</span><span class="text-secondary">&nbsp A</span>
                    <div class="text-tertiary-data">Potencia</div>
                    <span class="text-principal-data Charging_Power_solar">{{ registro.get('Charging_Power_solar') }}</span><span class="text-secondary">&nbsp W</span>
                  </div>
                </div>

                <div class="col-12 col-md-8">
                  <div class="charts-card h-100 w-100">
                    <div class="data-cards-label h6 mt-2 mb-1 text-warning">Tensión y Corriente Solar</div>
                    <canvas id="voltageCurrentChartSolar"></canvas>
                  </div>
                </div>

              </div>

              <div class="row gx-2 gy-2">
                <div class="col-12 col-md-4">
                  <div class="data-cards h-100 w-100">
                    <div class="data-cards-label">Aporte Instantáneo</div>
                    <div class="text-tertiary-data">Potencia Solar</div>
                    <span class="text-principal-data Charging_Power_solar">{{ registro.get('Charging_Power_solar')| round }}</span><span class="text-secondary">&nbsp W</span>
                    <div class="text-tertiary-data">Potencia Carga</div>
                    <span class="text-principal-data power_carga">{{ registro.get('power_carga') }}</span><span class="text-secondary">&nbsp W</span>

                      
                  </div>
                </div>
                <div class="col-12 col-md-8">
                  <div class="charts-card h-100 w-100">
                    <div class="data-cards-label h6 mt-2 mb-1 text-warning">MPPT</div>
                    <canvas id="VoltageCurrentMPPT"></canvas>
                  </div>
                </div>

              </div>

              <div class="row gx-2 gy-2 mt-2">
      
                <div class="col-12 col-md-6">
                  <div class="charts-card mb-1 h-100 w-100" style="max-height: 35vh !important;">
                    <div class="data-cards-label h5 mb-0">Curva Solar</span></div>
                    <canvas id="curvaSolarChart" class="mb-1" style="max-height: 30vh !important;"></canvas>
                  </div>
                  <div class="zoom-controls">
                    <label for="fecha-curva"></label>
                    <input type="date" id="fecha-curva">
                    <button id="btn-graficar"><p>Graficar</p></button>
                    <label>Eje Solar:</label>
                    <button id="zoom-in-solar"><p> + </p></button>
                    <button id="zoom-out-solar"><p> - </p></button>
                    <label>Eje Carga:</label>
                    <button id="zoom-in-carga"><p> + </p></button>
                    <button id="zoom-out-carga"><p> - </p></button>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                </div>
              </div>


      
            </div>
          </div>
<!-- Tab Energia -->
          <div class="tab-pane fade" id="energia" role="tabpanel" aria-labelledby="energia-tab">
            <div class="energia-tab-container container-fluid py-3">
              <div class="col-12 mb-3 tab-title">
                <span class="badge bg-danger fs-4 px-4 py-2 rounded-pill">Energia</span>
              </div>
              
              <div class="row gy-2 gx-2 mb-2 mt-2">
                <div class="col-12 col-md-6">
                  <div class="charts-card w-100 h-100">
                    <div class="data-cards-label">Energía de la Carga</div>
                    <canvas id="EnergiaCargaSolar"></canvas>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="charts-card w-100 h-100">
                    <div class="data-cards-label">Energía de la Red y Solar</div>
                    <canvas id="BarEnerRedSolar"></canvas>
                  </div>
                </div>
              </div>  
              
             

              <div class="row gx-2 gy-2 mt-3">
            
                <div class="col-md-6 col-sm-12 col-lg-3">
                  <div class="data-cards h-100 w-100">
                    <div class="data-cards-label">Consumo</div>
                    <div class="text-tertiary-data">Año en curso</div>
                    <span class="text-principal-data energia_anual_carga">{{(datos_mensuales.get('energia_anual_carga')/1000 )| float| round(2)}}</span><span class="text-secondary">&nbsp kWh</span>
                    <div class="text-tertiary-data">Promedio Mensual</div>
                    <span class="text-principal-data prom_energia_mensual_carga"> {{ (datos_mensuales.get('prom_energia_mensual_carga')/1000) | float| round(2)}}</span><span class="text-secondary">&nbsp Wh</span>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3">
                  <div class="data-cards h-100 w-100">
                    <div class="data-cards-label">Red Eléctrica</div>
                    <div class="text-tertiary-data">Año en curso</div>
                    <span class="text-principal-data energia_anual_red">{{(datos_mensuales.get('energia_anual_red')/1000) | float|round(2)}}</span><span class="text-secondary">&nbsp kWh</span>
                    
                    <div class="text-tertiary-data">Promedio Mensual</div>
                    <span class="text-principal-data prom_energia_mensual_red">{{(datos_mensuales.get('prom_energia_mensual_red')/1000) |float| round(2)}}</span><span class="text-secondary">&nbsp Wh</span>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3">
                  <div class="data-cards h-100 w-100">
                    <div class="data-cards-label">Batería</div>
                    <div class="text-tertiary-data">Año en curso</div>
                    <span class="text-principal-data energia_anual_solar">{{(datos_mensuales.get('energia_anual_bat')/1000 )|float| round(2)}}</span><span class="text-secondary">&nbsp kWh</span>
                    <div class="text-tertiary-data">Promedio Mensual</div>
                    <span class="text-principal-data prom_energia_mensual_solar">{{(datos_mensuales.get('prom_energia_mensual_bat')/1000 )|float| round(1)}}</span><span class="text-secondary">&nbsp Wh</span>
                  </div> 
                </div>
                <div class="col-md-6 col-sm-12 col-lg-3">
                  <div class="data-cards h-100 w-100">
                    <div class="data-cards-label">Solar</div>
                    <div class="text-tertiary-data">Año en curso</div>
                    <span class="text-principal-data energia_anual_solar">{{(datos_mensuales.get('energia_anual_solar')/1000) | float|round(2)}}</span><span class="text-secondary">&nbsp kWh</span>
                    <div class="text-tertiary-data">Promedio Mensual</div>
                    <span class="text-principal-data prom_energia_mensual_solar">{{(datos_mensuales.get('prom_energia_mensual_solar')/1000) |float| round(2)}}</span><span class="text-secondary">&nbsp Wh</span>
                  </div> 
                </div>               
                
              </div>

            </div>
          </div>

        </div>
      </main>
    </div>
  </div>

  <script src="/static/update.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
